@page
@model Disable2faModel
@{
    ViewData["Title"] = "Desabilitar autenticação em duas etapas (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Esta ação desabilita a autenticação em duas etapas 2FA.</strong>
    </p>
    <p>
        Desabilitar 2FA não alterara as chaves usadas nos apps de autenticação! 
        Se você deseja alterar a chave usada no app de autenticação 
        acesse <a asp-page="./ResetAuthenticator"> para fazer essa alteração.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Desativar 2FA</button>
    </form>
</div>
