@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Resetar chave de autenticação";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se você resetar sua chave de autenticação, seu aplicativo de autenticação não irá funcionar até você reconfigurá-lo.</strong>
    </p>
    <p>
        Este processo desabilitará a autenticação em duas etapas até você verificar seu app de autenticação!
        Se você não concluir a configuração de seu app de autenticação, você pode perder acesso a sua conta!
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetar chave de autenticação</button>
    </form>
</div>