@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <img class="slide-image" src="~/Images/Top.png" alt="" width="90%" height="90%">
    </div>
<br />
    <div>
        <img class="slide-image" src="~/Images/Mid.png" alt="" width="95%" height="95%">
    </div>
<br/>
    <div>
        <img class="slide-image" src="~/Images/Bot.png" alt="" width="95%" height="95%">
    </div>
<br/>


