@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

</head>
<body>
    <div id="mapDiv" style="width: 95%; height: 450px"></div>
    <script>

        // latitude e longitude
        var lat = -23.55;
        var lon = -46.63;
        // inicializa o mapa
        map = L.map('mapDiv').setView([lat, lon], 13);

        // define os recursos para exibição
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="https://www.macoratti.net/">Macoratti.net</a>',
          maxZoom: 18,
        }).addTo(map);

        // adiciona um marcador no mapa
        marker = L.marker([lat, lon]).addTo(map);

        // adiciona um popup no marcador
        marker.bindPopup("<b>Centro</b><br />Pça da Sé<br />São Paulo").openPopup();
        
        var geojsonFeature = {
            "type": "FeatureCollection",
            "features": [{
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.63898, -23.544593]
                },
                "id": "ccf26055-4f90-40e2-aeed-bb04f839f171"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.630569, -23.544553]
                },
                "id": "1a355af7-6881-41c3-b32f-600b93bb91a6"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.62765, -23.552304]
                },
                "id": "557d0be7-130f-4f8f-89d3-4cf193f41fc2"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.639752, -23.555215]
                },
                "id": "0c9c99e3-b4a3-4ebf-ad79-7c75cece2d5d"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.631727, -23.55848]
                },
                "id": "153b8a9e-737d-437b-98c0-f43765ee2d29"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.619968, -23.559227]
                },
                "id": "fccbec29-9013-4dcb-a4d9-8c9766fb98d9"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.625977, -23.5739]
                },
                "id": "0dbf011e-1d62-4607-a0ed-8b0fad75ca91"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.579285, -23.583654]
                },
                "id": "496ab87c-17b0-4fec-964f-501db393d5ac"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.579456, -23.559896]
                },
                "id": "e1da992b-2e2f-42f3-9695-96822da4c7ee"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.585293, -23.54416]
                },
                "id": "8bb440d9-6bd9-4789-8400-7ff3032797b2"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.600399, -23.531255]
                },
                "id": "a99063b7-bbee-4048-9e36-d14812346e20"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.600571, -23.548566]
                },
                "id": "f27b5a80-5d3a-4b11-a991-fd16ad45017d"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.661854, -23.587902]
                },
                "id": "e3b43fa5-4852-42e6-ba27-e29835aad40e"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.638165, -23.569966]
                },
                "id": "9f0d1e75-ec1b-4a8e-b30e-c318237f550c"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.668549, -23.554231]
                },
                "id": "0ebaa8d1-cac1-4d96-8c6e-1dbd5b1d54a3"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.665287, -23.538809]
                },
                "id": "34868c4c-299e-4fff-8d5f-a4fab3a9bf30"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.657734, -23.603003]
                },
                "id": "17f3f6e3-4d31-42f1-8222-d72c1203c6ae"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.648121, -23.628955]
                },
                "id": "879b7bb2-08ce-4f87-9db9-60f0aeff3d4d"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.686058, -23.626754]
                },
                "id": "6a51d076-488e-4184-ab83-3a589e49a3e0"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.68211, -23.656946]
                },
                "id": "d72057b6-8f19-483c-9818-beb33e49a188"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.610184, -23.619047]
                },
                "id": "59924f81-b447-4329-ae3c-bf9483920e85"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.62529, -23.630843]
                },
                "id": "6bbb2bd0-8b6d-4142-b005-6ccb97e6d666"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.637993, -23.596869]
                },
                "id": "0c435f8a-3746-4f6e-92f0-97af90e5455b"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.634216, -23.504182]
                },
                "id": "88d757e1-4954-4343-a7f7-56598224e118"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.699619, -23.538967]
                },
                "id": "e465b7e4-e796-4592-83c8-11290013a988"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.696358, -23.568078]
                },
                "id": "7672279d-87e2-4ae6-8b2c-3a684c15abc4"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.687603, -23.589318]
                },
                "id": "5c71a1b9-e446-462e-82d2-39a39ff6e0d5"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.692924, -23.611183]
                },
                "id": "80d8a90e-0dc1-4150-b6f0-00295cbccf6d"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.704082, -23.629427]
                },
                "id": "3203fd36-4c55-4d8d-8186-895ae425e497"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.72245, -23.649871]
                },
                "id": "e613719e-60b4-4c92-bca4-7fd73c89c920"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.699104, -23.667009]
                },
                "id": "87c1338c-37b5-45d8-b63e-752a979329f4"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.68417, -23.684617]
                },
                "id": "6617cbcd-dc76-4542-99ef-1b42604b45c1"
            }, {
                "type": "Feature",
                "properties": {
                    "shape": "Marker",
                    "name": "Unnamed Layer",
                    "category": "default"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [-46.612415, -23.587587]
                },
                "id": "2b02c0db-ea06-4aa6-b0ed-28a90515b83f"
            }]
        };

        /*L.geoJSON(geojsonFeature).addTo(map);*/

        L.geoJSON(geojsonFeature, {
            onEachFeature: function (feature, layer) {
                // does this feature have a property named popupContent?
                if (Math.floor(Math.floor(Math.random() * 11) < 5))
                    layer.bindPopup("Academia " + Math.floor(Math.random() * 11));
                else
                    layer.bindPopup("Estacionamento " + Math.floor(Math.random() * 11));

            }
        }).addTo(map);


    </script>
</body>
</html>
