@{
    ViewData["Title"] = "Politíca de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    A proteção de seus dados é muito importante para nós!
    Portanto tivemos o cuidado de dispor a opção para que você mesmo saiba os dados que temos sobre você
    e também lhe damos o poder de excluí-los a qualquer momento!
</p>
