@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi resetada. Por favor acesse <a asp-page="./Login">Login</a>.
</p>
